pytorch-lightning
tensorboard
tensorboardx
matplotlib
jupyter
einops
imageio
imageio-ffmpeg
networkx

test-tube==0.7.5
kornia==0.4.1
opencv-python==4.5.1.48

# for mesh
PyMCubes==0.1.2
pycollada==0.7.1
trimesh==3.9.1
pyglet==1.5.10

# for point cloud
plyfile==0.7.2
open3d
